<!-- /templates/404.liquid -->

<div class="grid">
  <div class="grid__item large--nine-twelfths push--large--one-sixth">

    <header class="section-header section-header--404">
      <h1>{{ 'general.404.title' | t }}</h1>
    </header>

    <div class="grid">
      <div class="grid__item">
        <p>{{ 'general.404.subtext_html' | t }}</p>
      </div>
    </div>

  </div>
</div>
