<!-- /templates/collection.collection.liquid -->

{% comment %}
{% case  handle %}
  {% when 'spring-summer-2019' %}
    {% section 'collection-flow-ss19' %}
  {% when 'spring-summer-2018' %}
    {% section 'collection-flow-ss18' %}
{% else%}
  <div class="page-flow__message">
    <h1>This collection is coming soon..</h1>
  </div>
{% endcase %}
{% endcomment %}

<!-- /templates/collection.collection.liquid -->

{% assign found_collection_collection_section = false %}

{% assign collection_collection = settings.collection_collection_section_1 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_1' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_2 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_2' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_3 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_3' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_4 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_4' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_5 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_5' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_6 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_6' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_7 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_7' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_8 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_8' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_9 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_9' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_10 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_10' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_11 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_11' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_12 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_12' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_13 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_13' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_14 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_14' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_15 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_15' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_16 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_16' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_17 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_17' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_18 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_18' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_19 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_19' %}
{% endif %}

{% assign collection_collection = settings.collection_collection_section_20 %}
{% if handle == collection_collection %}
  {% assign found_collection_collection_section = true %}
  {% section 'collection-collection-template_20' %}
{% endif %}

{%- unless found_collection_collection_section -%}
  {% section 'collection-collection-template' %}
{%- endunless -%}
