<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--nine-twelfths">

    <header class="section-header">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="grid">
      <div class="grid__item">
        <div class="rte rte--nomargin rte--indented-images no-uppercase">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>
