<!-- /sections/bite-flow.liquid -->
<div data-section-id="{{ section.id }}" data-section-type="bite-flow">

  {% include 'bite-flow' %}

</div>



{% schema %}
{
  "name": "Bite Flow",
  "class": "bite-flow",
  "settings": [
    {
      "type": "text",
      "label": "Name",
      "id": "title",
      "default": "From the World of Bite"
    },
    {
      "type": "color",
      "label": "Background color",
      "id": "color",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
    {
      "type": "flow-item",
      "name": "Flow Item",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "product",
          "label": "Product",
          "id": "product"
        },
        {
          "type": "url",
          "label": "Link",
          "id": "link"
        },
        {
          "type": "text",
          "label": "Header",
          "id": "title",
          "default": "New Flow Item!"
        },
        {
          "type": "textarea",
          "label": "Text",
          "id": "text",
          "info": "HTML works."
        },
        {
          "type": "checkbox",
          "label": "Disable UPPERCASE",
          "id": "no_uppercase",
          "default": true
        },
        {
          "type": "select",
          "label": "Behavior",
          "id": "type",
          "options": [
            {"value": "product", "label": "Product"},
            {"value": "image", "label": "Image, text fades in"},
            {"value": "text", "label": "Still text"}
          ],
          "default": "text"
        },
        {
          "type": "range",
          "label": "Spans columns",
          "id": "flow-item-colspan",
          "min": 1,
          "max": 5,
          "default": 1
        },
        {
          "type": "range",
          "label": "Spans rows",
          "id": "flow-item-rowspan",
          "min": 1,
          "max": 5,
          "default": 1
        },
        {
          "type": "select",
          "label": "Vertical position",
          "id": "flow-item-align",
          "options": [
            {"value": "start", "label": "Top"},
            {"value": "center", "label": "Center"},
            {"value": "end", "label": "Bottom"}
          ],
          "default": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bite Flow",
      "category": "Bite Specials",
      "blocks": [
        {
          "type": "flow-item",
          "settings": {
            "image": "",
            "type": "text",
            "flow-item-colspan": 2,
            "flow-item-rowspan": 1,
            "flow-item-align": "center",
            "title": "Classical Contrasts",
            "text": "Our artist of re-defined\nocha sItet ipsaese et ulliquo optatusam faccus. Sant en\nditaquos as eate volorum.",
            "no_uppercase": true,
            "product": "",
            "link": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
