<!-- /templates/page.biteflow.liquid -->

{% assign found_page_biteflow_section = false %}

{% assign page_biteflow = settings.page_biteflow_section_1 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_1' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_2 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_2' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_3 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_3' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_4 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_4' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_5 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_5' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_6 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_6' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_7 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_7' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_8 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_8' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_9 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_9' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_10 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_10' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_11 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_11' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_12 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_12' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_13 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_13' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_14 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_14' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_15 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_15' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_16 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_16' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_17 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_17' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_18 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_18' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_19 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_19' %}
{% endif %}

{% assign page_biteflow = settings.page_biteflow_section_20 %}
{% if handle == page_biteflow %}
  {% assign found_page_biteflow_section = true %}
  {% section 'page-biteflow-section_20' %}
{% endif %}

{%- unless found_page_biteflow_section -%}
    <div class="page-flow__message">
      <h1>You need to link<br>Flow Page sections for this page </h1>
      Read the manual.. ;)
    </div>
{%- endunless -%}
